@import "./utilities/variables";
@import "./base/reset" ;
@import "./utilities/mixins";

//views
@import "./views/home";
@import "./views/alojamiento";
@import "./views/vuelos";
@import "./views/paquetes";
@import "./views/actividades";

