//colores

$color-principal: #f39b29;
$color-secundario: #1b95db;
$font-color-principal: rgba(0,0,0,0.1);
$font-color-secondary: rgba(100,40,100,0.5);

// font 

$font-small: 1rem;
$font-medium:1.6rem;
$font-large: 2rem;
$font-xl: 3rem;