.main {
    
    .content_carusel { 
        width: 100%;
        height: 400px; 

        .carousel{
            width: 100%;
            height: 100%;
            .carousel-inner{
                width: 100%;
                height: 100%;
                .carousel-item {
                    width: 100%;
                    height: 100%;
                    img { 
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

    }

    .content_hotel{
        .card{
            @include flex (column, center, center, null);
            
            margin-top: 5px;
            img{
                height: 350px;
                width: 100%;
            }
    
            div{
                border: 2px solid #aaa;
                font-family: "Poppins", sans-serif;
                font-size: 15px;
                h5{
                    font-size: 30px;
                    color: $color-principal;
                }
                p{
                    border-bottom: 2px solid $color-principal;
                }
                span{
                    text-align: center;
                    font-size: 20px;
                    width: 200px;
                    
                }
            }
        }

    }
    

}